@font-face {
  font-family: 'Sansation';
  src: url('../fonts/Sansation_Regular.ttf');
}

h1, h2, h3, h4, h5, .navbar {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h3, h5 {
  font-weight: bold;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar {
  font-size: 16px;
}

.navbar .navbar-brand {
  font-family: 'Sansation', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
}

@media(max-width: 320px) {

  .navbar .navbar-brand {
    font-size: 18px;
  }

}

/* Increases navbar collapse width from 768px to 991px */
@media(max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}

@media(max-width: 991px) {

  #navbar .nav #home {
    display: none;
  }

}

p, .body-font {
  font-family: 'Crimson Text', Georgia, Times, serif;
  font-size: 17px;
}

footer .contact-info-container {
  vertical-align: top;
}

footer .contact-info-container, footer .contact-info-container > h5 {
  display: inline-block;
}

.btn {
  font-size: 16px;
  border-radius: 0;
}

#home__jumbotron {
  background: url("../img/JumbotronBackground.jpg") no-repeat center center;
  background-size: cover;
}

#home__jumbotron h1 {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.95);
}

#home__jumbotron p {
  color: white;
}

.gift-cert-package .panel-title {
  font-weight: bold;
  display: inline-block;
}

.gift-cert-package .buy-now {
  float: right;
  padding-left: 15px;
}

.used-sale ul {
  display: inline-block;
}

.used-sale img {
  float: left;
  max-width: 256px;
}

@media(max-width: 500px) {

  .used-sale img {
    max-width: 128px;
  }

  ul {
    padding-left: 20px;
  }

}

.authorized-manufacturer {
  height: 90px;
  padding: 10px;
}

.authorized-manufacturer .logo {
  max-width: 100%;
  max-height: 80px;

  /* Center align, horizontally */
  display: block;
  margin-left: auto;
  margin-right: auto;

}

@media(max-width: 320px) {

  #map-embed-sm {
    display: none;
  }

  /* Save some space by removing the horizontal line separator. */
  hr {
    display: none;
  }

}

@media(min-width: 321px) {

  #map-embed-xs {
    display: none;
  }

}

@media(max-width: 990px) {

  #map-embed-lg {
    display: none;
  }

  .map-embed {
    padding: 10px 20px;
  }

}

@media(min-width: 990px) {

  #map-embed-sm {
    display: none;
  }

  .map-embed {
    padding: 20px;
  }

}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
