.panel, .panel > * {
  border-radius: 0;
}

.panel-title {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.panel-body {
  font-family: 'Crimson Text', Georgia, Times, serif;
  font-size: 17px;
}

.buy-now form {
  height: 50px;
}
