.jumbotron__content {
  z-index: 999;
  text-shadow: 3px 3px 6px rgba(45, 45, 80, 0.75);
}

.jumbotron__content__h1 {
  box-shadow: 2px 3px 6px 6px black;
}

.jumbotron__image-container {
  position: absolute;
  top: 250px;
  right: 50px;
  width: 400px;
  max-width: 95%;
}

.jumbotron__image {
  position: absolute;
  width: 100%;
}

@media (max-width: 550px) {
  .jumbotron__image-container {
    top: 280px;
    width: 300px;
  }
}

@media (max-width: 475px) {
  .jumbotron__image-container {
    top: 350px;
    right: 25px;
    width: 280px;
  }
}

@media (max-width: 360px) {
  .jumbotron__image-container {
    top: 400px;
    right: 25px;
    width: 280px;
  }
}
